@import "variables";

.app-header {
  background: white;
  display: block;
  //display: flex;
  height: $header-h;
  margin: 0;
  padding: 9px 24px;
  position: relative;

  //align-items: center;
  //justify-content: space-between;
  font-size: 16px;
  margin-left: 256px;

  .summary {
    display: flex;
    float: right
  }

  .locale, .wallet {
    align-items: center;
    font-size: 16px;
    display: flex;

    i {
      padding-top: 4px;
      font-size: 19px;

      svg {
        padding-top: 4px;
      }
    }

    img {
      margin-top: 2px;
      margin-right: 8px;
    }
  }

  .title {
    float: left;
    font-size: 24px;
    line-height: 40px;
  }
}
