@import "variables";
@import "and-design";

.ant-btn {
  border-radius: 2px;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-sm {
    height: 32px;
    padding: 5px;
    font-size: 14px;
  }


  &-primary {
    background: $primary;
    border: 1px solid $primary;
  }
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #1F1F1F;
}

.mt {
  @include margins("top");
}

.mr {
  @include margins("right");
}

.mb {
  @include margins("bottom");
}

.ml {
  @include margins("left");
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

body {
  font-family: Roboto;
}
