<div class="auth-container d-flex align-items-center" *ngIf="registerForm">
  <img src="assets/images/icons/Logotype.svg" alt="">
  <p class="mt-4 title">{{ 'AUTH.NEW ACCOUNT' | translate }}</p>
  <form nz-form class="w-100" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <nz-space nzDirection="vertical" [nzSize]="16" style="width:100%">
      <nz-form-item *nzSpaceItem>
        <nz-form-label [nzSpan]="24" nzFor="email">{{ 'AUTH.EMAIL' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="24" class="mt-2" [nzErrorTip]="this.errors.email">
          <input nz-input name="email" type="text" id="email" formControlName="email">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *nzSpaceItem>
        <nz-form-label [nzSpan]="24" nzFor="username">{{ 'AUTH.USERNAME' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="24" class="mt-2" [nzErrorTip]="this.errors.username">
          <input autocomplete="off" nz-input name="username" type="text" id="username" formControlName="username">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *nzSpaceItem>
        <nz-form-label [nzSpan]="24" nzFor="password">{{ 'AUTH.PASSWORD' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="24" class="mt-2" [nzErrorTip]="this.errors.password">
          <input autocomplete="off" nz-input name="password" type="password" id="password" formControlName="password">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *nzSpaceItem class="mt-3">
        <nz-form-control [nzSpan]="24">
          <label nz-checkbox formControlName="accept" class="accept-label">
            {{ 'AUTH.ACCEPT' | translate }}
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *nzSpaceItem class="mt-3">
        <nz-form-control [nzSpan]="24">
<!--          <button nz-button nzBlock="true" nzType="primary" nzSize="default">Create account</button>-->
          <button [disabled]="!registerForm.valid" nz-button nzBlock="true" nzType="primary" nzSize="default">{{ 'AUTH.CREATE ACCOUNT' | translate }}</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *nzSpaceItem class="mt-3">
        <nz-form-control [nzSpan]="24" class="mt-2">
          <div class="w-100 d-flex justify-content-center">
            <span class="mr-2">{{ 'AUTH.HAVE' | translate }}</span><a [routerLink]="['/auth/login']">{{ 'AUTH.LOGIN' | translate }}</a>
          </div>
        </nz-form-control>
      </nz-form-item>
    </nz-space>
    <input hidden nz-input name="invite_token" id="invite_token" formControlName="invite_token">
  </form>
</div>
