.locale-container {
  position: relative;
  img {
    height: 21px;
    margin-right: 8px;
  }

  .dropdown {
    background: white;

    position: absolute;
    z-index: 9;
  }
}

@media only screen and (max-width: 1023px) {
  .locale-container {
    img {
      margin-right: 0;
    }
  }
}
