.radio-devices {
  label {
    height: 32px;
    width: 32px;
    padding: unset;
    text-align: center;
    border-radius: 2px;
    border-left-width: 1px;

    &:before {
      content: none;
    }

    &:last-child {
      margin-left: 12px;
    }
  }
}

.switch-group {
  ::ng-deep {
    .ant-form-item-control-input {
      width: 100%;
    }

    .ant-form-item-control-input-content {
      display: flex;
      width: 100%;
      align-items: center;
    }

  }
}

.background-preview {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #eee;

  .link {
    width: 256px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.youtube-frame-container {
  margin: 24px 0 0;
}

::ng-deep {
  @media only screen and (min-width: 1024px) {
    nz-select-item {
      width: 180px;
    }
  }
}


@media only screen and (max-width: 669px) {
  .page-title {
    h1 {
      margin-bottom: 0;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .show-more {
      font-size: 14px;
      line-height: 22px;
      color: #2F54EB;
    }
  }

  .status-row {
    margin-bottom: 37px;

    .status-label, .switch-control {
      flex: 0 0 25%;
    }

    .remove-container {
      flex: 0 0 50%;
    }
  }

  .margin-section-container {
    margin-top: 24px;
  }

  .color-theme-container {
    margin-top: 24px;
  }

  .submit-button {
    margin-top: 24px;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .status-row {
    .status-label, .switch-control {
      flex: 0 0 20%;
    }

    .remove-container {
      flex: 0 0 50%;
    }
  }
}
