<div *ngIf="device == 'mobile'" class="device-container mobile" [ngStyle]="{color: this.colors[this.color].textColor}">
  <div style="height: 4px"></div>
  <div class="picture-container" [ngStyle]="{backgroundColor: this.colors[this.color].bgColor}">
    <div class="bg-loyaut" [ngStyle]="{background: 'right / cover url(/assets/images/templates/template1/picture-'+ this.color +'-bg.svg)'}">
      <div class="image" *ngIf="!youtube" [ngStyle]="{'background': backgroundUrl ? 'right / cover url(' + backgroundUrl + ')' : '#eee'}"></div>
      <div class="image" *ngIf="youtube" class="youtube-control">
        <iframe
          width="117"
          height="117"
          [src] = "youtube | safe: 'resourceUrl'"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="content-container" [ngStyle]="{
    backgroundImage: 'url(/assets/images/templates/template1/content-' + color + '-top-bg.svg)',
    backgroundColor: this.colors[this.color].layoutColor
  }">
    <div class="content" [ngStyle]="{backgroundImage: 'url(/assets/images/templates/template1/content-' + color + '-bottom-bg.svg)'}">
      <div>
        <h1 [ngStyle]="{color: this.colors[this.color].textColor}">{{title}}</h1>
        <p>
          {{description}}
        </p>
        <div class="timer" [ngStyle]="{color: this.colors[this.color].textColor}" *ngIf="timerEnable">
          <h2 [ngStyle]="{color: this.colors[this.color].textColor}">
            {{timerText}}
          </h2>
          <div class="bar-container">
            <div
              class="progress-bar"
              [ngStyle]="{'background': this.colors[this.color].gradient}"
            ></div>
            <span class="time">{{preparedTime}}</span>
          </div>
        </div>

        <button
          [ngStyle]="{
          'background': this.colors[this.color].primary,
          'borderColor': this.colors[this.color].primary }"
        >{{buttonText}}</button>
      </div>
    </div>
  </div>
</div>



<div *ngIf="device == 'desktop'" class="device-container desktop" [ngStyle]="{color: this.colors[this.color].textColor}">
  <div class="desktop-screen">
    <div class="column content-container" [ngStyle]="{
      backgroundImage: 'url(/assets/images/templates/template1/content-' + color + '-top-bg.svg)',
      backgroundColor: this.colors[this.color].layoutColor
    }">
      <div class="content" [ngStyle]="{backgroundImage: 'url(/assets/images/templates/template1/content-' + color + '-bottom-bg.svg)'}">
        <div>
          <h1 [ngStyle]="{color: this.colors[this.color].textColor}">{{title}}</h1>
          <p>
            {{description}}
          </p>
          <div class="timer" [ngStyle]="{color: this.colors[this.color].textColor}" *ngIf="timerEnable">
            <h2 [ngStyle]="{color: this.colors[this.color].textColor}">
              {{timerText}}
            </h2>
            <div class="bar-container">
              <div
                class="progress-bar"
                [ngStyle]="{'background': this.colors[this.color].gradient}"
              ></div>
              <span class="time">{{preparedTime}}</span>
            </div>
          </div>
          <button
            [ngStyle]="{'background': this.colors[this.color].primary, 'borderColor': this.colors[this.color].primary}"
          >{{buttonText}}</button>

          <div class="created-by">Created by <a [ngStyle]="{color: this.colors[this.color].primary}" href="">Submaster</a></div>
          <div class="privacy-policy-container"><a [ngStyle]="{color: this.colors[this.color].textColor}" href="" class="privacy-policy">Privacy policy</a></div>
        </div>
      </div>
    </div>
    <div class="column picture-container"  [ngStyle]="{backgroundColor: this.colors[this.color].bgColor}">
      <div class="bg-loyaut" [ngStyle]="{background: 'right / cover url(/assets/images/templates/template1/picture-'+ this.color +'-bg.svg)'}">
        <div class="image" *ngIf="!youtube" [ngStyle]="{'background': backgroundUrl ? 'right / cover url(' + backgroundUrl + ')' : '#eee'}"></div>
        <div class="image" *ngIf="youtube" class="youtube-control">
          <iframe
            width="200"
            height="200"
            [src] = "youtube | safe: 'resourceUrl'"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

      </div>
    </div>
  </div>
</div>
