<div class="logins-container mt-3">
  <div class="page-title">
    <h1>{{'UTM.UTM TAGS' | translate}} ({{utmTags.length}})</h1>
    <div class="show-more" *ngIf="this.isMobile" (click)="showMenu()">{{'PAGE.SHOW MORE' | translate}}</div>
  </div>
  <div class="actions-row d-flex justify-space-between">
    <nz-range-picker
      nzFormat="yyyy-MM-dd"
      (ngModelChange)="onChange($event)"
      ngModel
    ></nz-range-picker>
    <button class="download-link-btn" nzSize="small" (click)="onUpload()" nz-button nzType="primary">{{ 'PAGE.DOWNLOAD EXCEL' | translate }}</button>

    <a #xlsxLink *ngIf="page" hidden href="http://localhost:3000/api/v1/subscribe_pages/{{page.id}}/logins/report.xlsx" target="_blank">Download excel file</a>
  </div>
  <nz-table [nzTotal]="total" [nzPageSize]="20" class="mt-4" #sortTable [nzData]="utmTags" [nzFrontPagination]="false" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th  [nzSortFn]="true" nzColumnKey="utm_source" [nzSortPriority]="1">
        {{ 'UTM.SOURCE' | translate }}
      </th>
      <th  [nzSortFn]="true" nzColumnKey="utm_medium" [nzSortPriority]="2">
        {{ 'UTM.MEDIUM' | translate }}
      </th>
      <th  [nzSortFn]="true" nzColumnKey="utm_campaign" [nzSortPriority]="3">
        {{ 'UTM.CAMPAIGN' | translate }}
      </th>
      <th  [nzSortFn]="true" nzColumnKey="utm_content" [nzSortPriority]="4">
        {{ 'UTM.CONTENT' | translate }}
      </th>
      <th  [nzSortFn]="true" nzColumnKey="clicks" [nzSortPriority]="5">
        {{ 'UTM.CLICKS' | translate }}
      </th>
      <th  [nzSortFn]="true" nzColumnKey="subscriptions" [nzSortPriority]="6">
        {{ 'UTM.SUBSCRIPTIONS' | translate }}
      </th>
      <th  [nzSortFn]="true" nzColumnKey="conversion" [nzSortPriority]="7">
        {{ 'UTM.CONVERSION' | translate }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>{{ data.utm_source }}</td>
      <td>{{ data.utm_medium }}</td>
      <td>{{ data.utm_campaign }}</td>
      <td>{{ data.utm_content }}</td>
      <td>{{ data.clicks }}</td>
      <td>{{ data.subscriptions }}</td>
      <td>{{ data.conversion }}%</td>
    </tr>
    </tbody>
  </nz-table>
</div>
