<nz-layout class="app-layout" *ngIf="router.url.indexOf('/auth/') == -1">
  <nz-sider [nzWidth]="256">
    <div class="sidebar-logo" (click)="goToHome()">
      <img src="assets/images/icons/logo.svg" alt="">
      <h1>SubMaster</h1>
    </div>
    <ul nz-menu nzMode="inline" class="menu">
      <li nz-menu-item [nzSelected]="true" nzMatchRouter>
        <i nz-icon nzType="copy" nzTheme="fill"></i>

        <a [routerLink]="['/', 'subscribes-pages']">{{ 'MENU.PAGES' | translate }}</a>

<!--        <span>{{ 'MENU.PAGES' | translate }} (2)</span>-->
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="wallet" nzTheme="fill"></i>
        <span>{{ 'MENU.BALANCE' | translate }}</span>
      </li>
<!--      <li nz-menu-item (click)="goToAccount()">-->
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="setting" nzTheme="fill"></i>
        <a [routerLink]="['/', 'account']">{{ 'MENU.ACCOUNT SETTINGS' | translate }}</a>
<!--        <span>{{ 'MENU.ACCOUNT SETTINGS' | translate }}</span>-->
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="api" nzTheme="fill"></i>
        <a [routerLink]="['/', 'domains']">{{ 'MENU.DOMAIN BINDING' | translate }}</a>
<!--        <span>{{ 'MENU.DOMAIN BINDING' | translate }}</span>-->
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="question-circle" nzTheme="fill"></i>
        <span>FAQ</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="thunderbolt" nzTheme="fill"></i>
        <span>{{ 'MENU.ONLINE COURSE' | translate }}</span>
      </li>
      <li nz-menu-item (click)="goToLogin()">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        <span>{{ 'MENU.LOGOUT' | translate }}</span>
      </li>
      <li nz-menu-item class="support-container">
        <button nz-button [nzBlock]="true" class="support" nzType="primary" nzSize="default">{{ 'MENU.SUPPORT' | translate }}</button>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <app-header *ngIf="userService.currentUserInfo"></app-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-layout *ngIf="router.url.indexOf('/auth/') != -1" style="height:100vh">
  <nz-content class="d-flex align-items-center justify-content-center" style="height:100%">
      <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
<!--<div>-->
<!--  <h2>{{ 'HOME.TITLE' | translate }}</h2>-->
<!--  <label>-->
<!--    {{ 'HOME.SELECT' | translate }}-->
<!--    <select #langSelect (change)="translate.use(langSelect.value)">-->
<!--      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>-->
<!--    </select>-->
<!--  </label>-->
<!--</div>-->
