@import "variables";
$sider-width: 256px;

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::ng-deep {
  .ant-menu-item {
    color: #8585A8 !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    &:first-child {
      margin-top: 0;
    }

    &-selected {
      color: #2F54EB !important;
      background: #D6E4FF !important;

      &:after {
        content: none !important;
      }
    }
  }
}

.app-layout {
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.menu {
  background: inherit;
  padding: 16px 24px;

  .support-container {
    padding: 0;
    margin-top: 24px;

    .support {
      background: white;
      color: #597EF7;
      font-size: 16px;
      height: 40px;
      line-height: 24px;
    }
  }

  li {
    color: #8585A8;
    padding: 0;
    align-items: center;
    font-size: 16px;
    display: flex;

    a {
      color: inherit;
    }

    i {
      font-size: 20px;
    }

    &.support-container {
      padding: 0 !important;
    }

    &:not(.support-container) {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }
}

nz-layout {
  background: white;
}

.sidebar-logo {
  cursor: pointer;
  position: relative;
  height: $header-h;
  padding-left: 24px;
  overflow: hidden;
  transition: all .3s;

  img {
    height: 50px;
  }
}

.sidebar-logo img {
  display: inline-block;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 6px;
  padding: 0;
  color: #434343;
  font-weight: 600;
  font-size: 24px;
  vertical-align: middle;
  line-height: $header-h;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

nz-content {
  //margin: 24px;
}

.inner-content {
  padding: 16px 24px;
  background: #fff;
  height: 100%;
  margin-left: $side-nav-width;
}

nz-sider {
  background: $side-nav-bg;
  height: 100%;
  position: fixed;
}

.banner {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 8;
  background: rgba(3, 8, 82, 0.75);
  backdrop-filter: blur(5px);
}


@media only screen and (max-width: 1023px) and (min-width: 670px) {
  nz-sider {
    position: fixed;
    z-index: 9;
    top: 58px;

    &.close {
      display: none
    }
  }
  .inner-content {
    margin-left: 0;
  }
  .site-content {
    margin-top: 58px;
  }
}
@media only screen and (max-width: 669px) {
  nz-sider {
    position: fixed;
    z-index: 9;
    top: 58px;
    &.close {
      display: none
    }
  }
  .inner-content {
    margin-left: 0;
  }
  .site-content {
    margin-top: 58px;
  }
}
