<nz-layout class="app-layout">
  <nz-sider [nzWidth]="256" [ngClass]="{'close': !isOpen}" *ngIf="router.url.indexOf('/auth/') == -1">
    <div class="sidebar-logo" (click)="goToHome()">
      <img src="assets/images/icons/logo.svg" alt="">
      <h1>SubMaster</h1>
    </div>
    <ul nz-menu nzMode="inline" class="menu">
      <li nz-menu-item [nzSelected]="true" nzMatchRouter>
        <i nz-icon nzType="copy" nzTheme="fill"></i>
        <a (click)="closeMenu()" [routerLink]="['/', 'subscribes-pages']">{{ 'MENU.PAGES' | translate }}</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="wallet" nzTheme="fill"></i>
        <a (click)="closeMenu()" [routerLink]="['/', 'balance']">{{ 'MENU.BALANCE' | translate }}</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="setting" nzTheme="fill"></i>
        <a (click)="closeMenu()" [routerLink]="['/', 'account']">{{ 'MENU.ACCOUNT SETTINGS' | translate }}</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="api" nzTheme="fill"></i>
        <a (click)="closeMenu()" [routerLink]="['/', 'domains']">{{ 'MENU.DOMAIN BINDING' | translate }}</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="question-circle" nzTheme="fill"></i>
        <a (click)="closeMenu()" [routerLink]="['/', 'faq']">FAQ</a>
      </li>
      <li nz-menu-item *ngIf="onlineCourseLink" (click)="courseLink.click()">
        <i nz-icon nzType="thunderbolt" nzTheme="fill"></i>
        <span>{{ 'MENU.ONLINE COURSE' | translate }}</span>
        <a hidden target="_blank" [href]="onlineCourseLink" #courseLink></a>
      </li>
      <li nz-menu-item (click)="logOut()">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        <span>{{ 'MENU.LOGOUT' | translate }}</span>
      </li>
      <li nz-menu-item class="support-container" *ngIf="supportLink">
        <button (click)="support.click()" nz-button [nzBlock]="true" class="support" nzType="primary" nzSize="default">{{ 'MENU.SUPPORT' | translate }}</button>
        <a hidden target="_blank" [href]="supportLink" #support></a>
      </li>
    </ul>
  </nz-sider>
  <div class="banner" *ngIf="isOpen" (click)="closeMenu()"></div>

  <nz-layout>
    <app-header *ngIf="!isAuthPage && userService.currentUserInfo"></app-header>
    <nz-content class="site-content">
      <div
        [ngClass]="{'inner-content': !isAuthPage,'h-100 d-flex align-items-center justify-content-center': router.url.indexOf('/auth/') !== -1}">
        <router-outlet *ngIf="isAuthPage || userService.currentUserInfo"></router-outlet>
<!--        <router-outlet *ngIf=" isAuthPage || userService.currentUserInfo"></router-outlet>-->

<!--        <router-outlet></router-outlet>-->
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<!--<nz-layout *ngIf="router.url.indexOf('/auth/') != -1" style="height:100vh">-->
<!--  <nz-content class="d-flex align-items-center justify-content-center" style="height:100%">-->
<!--      <router-outlet></router-outlet>-->
<!--  </nz-content>-->
<!--</nz-layout>-->
<!--<div>-->
<!--  <h2>{{ 'HOME.TITLE' | translate }}</h2>-->
<!--  <label>-->
<!--    {{ 'HOME.SELECT' | translate }}-->
<!--    <select #langSelect (change)="translate.use(langSelect.value)">-->
<!--      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>-->
<!--    </select>-->
<!--  </label>-->
<!--</div>-->
