<nz-tabset (nzSelectedIndexChange)="setIndex($event)" [nzTabBarExtraContent]="extraTemplate">
  <nz-tab  nzTitle="{{ 'PAGE.LOGIN LIST' | translate }}">
    <app-logins *ngIf="page" [page]="page"></app-logins>
  </nz-tab>
  <nz-tab  nzTitle="{{ 'PAGE.STATISTICS' | translate }}">
    <app-statistics *ngIf="page && pageId === 1" [page]="page"></app-statistics>
  </nz-tab>
  <nz-tab  nzTitle="{{ 'PAGE.UTM TAGS' | translate }}">
    <app-utm-tags *ngIf="page" [page]="page"></app-utm-tags>
  </nz-tab>
  <nz-tab nzTitle="{{ 'PAGE.PAGE SETTINGS' | translate }}">
    <app-page-settings *ngIf="page" [page]="page"></app-page-settings>
  </nz-tab>
</nz-tabset>
<ng-template #extraTemplate>
  <div class="d-flex align-items-center" *ngIf="page">
    <span>{{ 'PAGE.PAGE LINK' | translate }}:</span>
    <a class="ml-3" href="https://batraisk.ru/pages/{{page.url}}" target="_blank">
      <i class="mr-2"nz-icon nzType="export"></i> <span>https://batraisk.ru/pages/{{page.url}}</span>
    </a>
  </div>
</ng-template>
