<nz-tabset [nzTabBarExtraContent]="extraTemplate">
  <nz-tab  nzTitle="{{ 'PAGE.LOGIN LIST' | translate }}">
    <app-logins *ngIf="page" [page]="page"></app-logins>
  </nz-tab>
  <nz-tab  nzTitle="{{ 'PAGE.STATISTICS' | translate }}"></nz-tab>
  <nz-tab  nzTitle="{{ 'PAGE.UTM TAGS' | translate }}"></nz-tab>
  <nz-tab  nzTitle="{{ 'PAGE.PAGE SETTINGS' | translate }}">
    <app-page-settings *ngIf="page" [page]="page"></app-page-settings>
  </nz-tab>
</nz-tabset>
<ng-template #extraTemplate>
  <div class="d-flex align-items-center" *ngIf="page">
    <span>{{ 'PAGE.PAGE LINK' | translate }}:</span>
    <a class="ml-3" href="https://submaster-api.herokuapp.com/pages/{{page.url}}" target="_blank">
      <i class="mr-2"nz-icon nzType="export"></i> <span>https://submaster/pages/{{page.url}}</span>
    </a>
  </div>
</ng-template>
