<div class="empty-state-container" *ngIf="pages.length === 0">
  <nz-space nzDirection="vertical" [nzSize]="24">
    <img src="assets/images/empty-state.svg" alt="" *nzSpaceItem>
    <span *nzSpaceItem>{{ 'PAGE.NOTHING HERE' | translate }}</span>
    <button nz-button nzType="primary" *nzSpaceItem (click)="goToNewPage()"><i nz-icon nzType="plus"></i>
      {{ 'ACTIONS.ADD PAGE' | translate }}
    </button>
  </nz-space>
</div>

<div nz-row *ngIf="pages.length > 0">
  <div nz-col [nzSpan]="14" [nzXl]="14" [nzLg]="14" [nzMd]="24" [nzSm]="24" [nzXs]="24" class="mb-5">

    <div *ngIf="navigationService.header" class="title hide-for-fullscreen">
      {{ "HEADERS." + navigationService.header | translate: navigationService.headerParams }}
    </div>

    <button class="full-button mb-3" nz-button nzType="primary" (click)="goToNewPage()"><i nz-icon nzType="plus"></i>
      {{ 'ACTIONS.ADD PAGE' | translate }}
    </button>
    <a class="full-button hide-for-fullscreen hide-for-tablet mt-4" (click)="showStats()" nz-button nzType="link">
      {{ 'STATISTICS.VIEW TOTAL STATS' | translate }}
    </a>

    <div *ngFor="let page of pages; index as i" class="mt-5">
      <app-page-card [page]="page"></app-page-card>
    </div>
  </div>


  <div nz-col [nzSpan]="10" [nzXl]="10" [nzMd]="24" [nzSm]="24" [nzXs]="24" class="hide-for-mobile hide-for-tablet" [ngClass]="{'close': !isShowStats}">
    <app-dashboard-statistics customClass="ml-5" *ngIf="!isShowStats"></app-dashboard-statistics>
  </div>
</div>
<div class="mobile-stats-container" *ngIf="isShowStats">
<!--  <app-dashboard-statistics customClass="full-height"></app-dashboard-statistics>-->
  <app-dashboard-statistics *ngIf="isDesktop" customClass="full-height"></app-dashboard-statistics>
  <app-mobile-dashboard-statistics (closeMenu)="closeStats()" *ngIf="!isDesktop" customClass="full-height"></app-mobile-dashboard-statistics>
</div>
