.graph-container {
  width: 200px;
  height: 77px;
}

.empty-state-container {
  align-items: center;
  justify-content: center;
  display: flex;

  text-align: center;

  button {
    margin: auto;
  }

}



.total-count {
  color: #8C8C8C;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
}

.trend-value {
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  i {
    margin-right: 5px;
  }
  &.up {
    color: #52C41A;
  }
  &.down {
    color: #FF7A45;
    i {
      transform: rotate(180deg);
    }
  }
}

@media only screen and (max-width: 1023px) and (min-width: 670px) {
  .title {
    font-size: 36px;
    line-height: 57px;
    margin-bottom: 24px;
  }

}
@media only screen and (max-width: 669px) {
  .full-button {
    width: 100%;
    font-size: 14px;
    height: 32px;
  }
  .title {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 16px;
  }

  .mobile-stats-container {
    position: absolute;
    z-index: 888;
    top: 58px;
    height: 100vh;
    left: 0;
    width: 100vw;
  }
}
