<div class="device-container {{device}}">
  <app-template1
    *ngIf="template == 'template_1'"
    [color]="color"
    [device]="device"
    [title]="title"
    [description]="description"
    [timerText]="timerText"
    [time]="time"
    [buttonText]="buttonText"
    [timerEnable]="timerEnable"
    [backgroundUrl]="backgroundUrl"
    [youtube]="youtube"
  ></app-template1>
  <app-template2
    *ngIf="template == 'template_2'"
    [color]="color"
    [device]="device"
    [title]="title"
    [description]="description"
    [timerText]="timerText"
    [time]="time"
    [buttonText]="buttonText"
    [timerEnable]="timerEnable"
    [backgroundUrl]="backgroundUrl"
    [youtube]="youtube"
  ></app-template2>
  <app-template3
    *ngIf="template == 'template_3'"
    [color]="color"
    [device]="device"
    [title]="title"
    [description]="description"
    [timerText]="timerText"
    [time]="time"
    [buttonText]="buttonText"
    [timerEnable]="timerEnable"
    [backgroundUrl]="backgroundUrl"
    [youtube]="youtube"
  ></app-template3>
  <app-template4
    *ngIf="template == 'template_4'"
    [color]="color"
    [device]="device"
    [title]="title"
    [description]="description"
    [timerText]="timerText"
    [time]="time"
    [buttonText]="buttonText"
    [timerEnable]="timerEnable"
    [backgroundUrl]="backgroundUrl"
    [youtube]="youtube"
  ></app-template4>
</div>

<!--<div *ngIf="device == 'desktop'" class="device-container desktop">-->
<!--  <app-template1-->
<!--    *ngIf="template == 'template-1'"-->
<!--    [color]="color"-->
<!--    [device]="device"-->
<!--    [title]="title"-->
<!--    [description]="description"-->
<!--    [timerText]="timerText"-->
<!--    [time]="time"-->
<!--    [buttonText]="buttonText"-->
<!--    [timerEnable]="timerEnable"-->
<!--  ></app-template1>-->
<!--  <app-template2-->
<!--    *ngIf="template == 'template-2'"-->
<!--    [color]="color"-->
<!--    [device]="device"-->
<!--    [title]="title"-->
<!--    [description]="description"-->
<!--    [timerText]="timerText"-->
<!--    [time]="time"-->
<!--    [buttonText]="buttonText"-->
<!--    [timerEnable]="timerEnable"-->
<!--  ></app-template2>-->
<!--  <app-template3-->
<!--    *ngIf="template == 'template-3'"-->
<!--    [color]="color"-->
<!--    [device]="device"-->
<!--    [title]="title"-->
<!--    [description]="description"-->
<!--    [timerText]="timerText"-->
<!--    [time]="time"-->
<!--    [buttonText]="buttonText"-->
<!--    [timerEnable]="timerEnable"-->
<!--  ></app-template3>-->
<!--</div>-->
