<div class="device-container {{device}}">
  <app-template1
    *ngIf="template == 'template_1'"
    [color]="color"
    [device]="device"
    [title]="title"
    [description]="description"
    [timerText]="timerText"
    [time]="time"
    [buttonText]="buttonText"
    [timerEnable]="timerEnable"
    [backgroundUrl]="backgroundUrl"
    [youtube]="youtube"
  ></app-template1>
  <app-template2
    *ngIf="template == 'template_2'"
    [color]="color"
    [device]="device"
    [title]="title"
    [description]="description"
    [timerText]="timerText"
    [time]="time"
    [buttonText]="buttonText"
    [timerEnable]="timerEnable"
    [backgroundUrl]="backgroundUrl"
    [youtube]="youtube"
  ></app-template2>
  <app-template3
    *ngIf="template == 'template_3'"
    [color]="color"
    [device]="device"
    [title]="title"
    [description]="description"
    [timerText]="timerText"
    [time]="time"
    [buttonText]="buttonText"
    [timerEnable]="timerEnable"
    [backgroundUrl]="backgroundUrl"
    [youtube]="youtube"
  ></app-template3>
  <app-template4
    *ngIf="template == 'template_4'"
    [color]="color"
    [device]="device"
    [title]="title"
    [description]="description"
    [timerText]="timerText"
    [time]="time"
    [buttonText]="buttonText"
    [timerEnable]="timerEnable"
    [backgroundUrl]="backgroundUrl"
    [youtube]="youtube"
  ></app-template4>
  <app-template5
    *ngIf="template == 'template_5'"
    [color]="color"
    [device]="device"
    [title]="title"
    [description]="description"
    [timerText]="timerText"
    [time]="time"
    [buttonText]="buttonText"
    [timerEnable]="timerEnable"
    [backgroundUrl]="backgroundUrl"
    [youtube]="youtube"
  ></app-template5>
  <app-template6
    *ngIf="template == 'template_6'"
    [color]="color"
    [device]="device"
    [title]="title"
    [description]="description"
    [timerText]="timerText"
    [time]="time"
    [buttonText]="buttonText"
    [timerEnable]="timerEnable"
    [backgroundUrl]="backgroundUrl"
    [youtube]="youtube"
  ></app-template6>
</div>
