<div nz-row>
  <div nz-col [nzSpan]="11" [nzXl]="8" [nzMd]="24" [nzSm]="24" [nzXs]="24">
    <nz-space nzDirection="vertical" [nzSize]="16" class="mt-4" style="width:100%">

      <div *nzSpaceItem>
        <nz-form-label [nzSpan]="24">{{ 'DOMAIN.DOMAIN NAME' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="24" class="mt-2" [ngClass]="{'ant-form-item-has-error': this.domainError}">
          <div class="d-flex domain-input-container">
            <input (ngModelChange)="onChangeModel($event)" [(ngModel)]="domain" [ngModelOptions]="{standalone: true}" nz-input name="domain" type="domain" id="domain">
            <button
              class="ml-4 connect-btn"
              (click)="createDomain()"
              nz-button
              [nzBlock]="true"
              nzType="primary"
              nzSize="small"
            >
              {{ 'ACTIONS.CONNECT' | translate }}
            </button>
          </div>
        </nz-form-control>
      </div>

    </nz-space>
  </div>
</div>

<section class="section">
  <nz-collapse class="how-add-guide">
    <nz-collapse-panel
      nzHeader="{{ panels[0].name | translate }}"
      [nzActive]="panels[0].active"
      [nzDisabled]="panels[0].disabled"
    >
      <p style="margin:0;" innerHtml="{{ panels[0].content | translate: {applicationHost: applicationHost} }}"></p>
      <nz-alert nzType="info" nzMessage="{{'DOMAIN.HOW ADD WARNING' | translate}}"></nz-alert>
    </nz-collapse-panel>
  </nz-collapse>

  <nz-collapse class="mt-5">
    <nz-collapse-panel
      nzHeader="{{ panels[1].name | translate }}"
      [nzActive]="panels[1].active"
      [nzDisabled]="panels[1].disabled"
    >
      <p style="margin:0;" innerHtml="{{ panels[1].content | translate }}"></p>
    </nz-collapse-panel>
  </nz-collapse>
</section>

<section class="section domains-table">
  <h1>{{ 'DOMAIN.DOMAINS' | translate }}</h1>
  <nz-table class="" [nzTotal]="total" [nzPageSize]="20" class="mt-4" #sortTable [nzData]="domains" [nzFrontPagination]="false" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th  [nzSortFn]="true" nzColumnKey="url" [nzSortPriority]="1">
        {{ 'DOMAIN.DOMAIN' | translate }}
      </th>
<!--      <th  [nzSortFn]="true" nzColumnKey="pages" [nzSortPriority]="2">-->
      <th  nzColumnKey="pages">
        {{ 'DOMAIN.PAGES' | translate }}
      </th>
      <th  [nzSortFn]="true" nzColumnKey="status" [nzSortPriority]="2">
        {{ 'DOMAIN.STATUS' | translate }}
      </th>
      <th  nzColumnKey="action">
        {{ 'DOMAIN.ACTION' | translate }}
      </th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of sortTable.data">
        <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
          <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
            <td>{{ item.url }}</td>
            <td
              [nzIndentSize]="item.level! * 20"
              [nzShowExpand]="!!item.children"
              [(nzExpand)]="item.expand"
              (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
            >
              {{ item.pages }}
            </td>
            <td>
<!--              <nz-tag *ngIf="item.status == 'subscribed'" nzColor="success">{{ 'PAGE.SUBSCRIBED' | translate }}</nz-tag>-->
              <nz-tag *ngIf="item.status == 'not_connected'" nzColor="red">{{ 'DOMAIN.NOT CONNECTED' | translate }}</nz-tag>
              <nz-tag *ngIf="item.status && item.status == 'pending'" nzColor="blue">{{ 'DOMAIN.PENDING' | translate }}</nz-tag>
              <nz-tag *ngIf="item.status && item.status == 'connected'" nzColor="green">{{ 'DOMAIN.CONNECTED' | translate }}</nz-tag>
              <nz-tag *ngIf="item.status && item.status == 'reject'" nzColor="black">{{ 'DOMAIN.REJECT' | translate }}</nz-tag>
            </td>
            <td>
              <button
                *ngIf="item.status"
                class="action-btn"
                nz-button
                [nzBlock]="true"
                nzType="text"
                (click)="deleteDomain(item.id)"
                nzDanger
                nzSize="small">{{'DOMAIN.DELETE' | translate }}</button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </nz-table>
</section>
