<form nz-form [formGroup]="pageForm">
  <div nz-row>
    <div nz-col [nzSpan]="11" [nzXl]="8">
      <h1>{{ 'PAGE.MAIN INFO' | translate }}</h1>

      <nz-space nzDirection="vertical" [nzSize]="'large'" class="mt-4" style="width:100%">
        <nz-form-item *nzSpaceItem>
          <nz-form-label [nzSpan]="24" nzFor="name">{{ 'PAGE.PAGE NAME' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="24" class="mt-2">
            <input nz-input name="name" type="text" id="name" placeholder="My page" formControlName="pageName">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *nzSpaceItem>
          <nz-form-label [nzSpan]="24" nzFor="domain">{{ 'PAGE.DOMAIN AND URL' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="24" class="mt-2">
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
              <input type="text" nz-input id="domain" formControlName="url" />
            </nz-input-group>
            <ng-template #addOnBeforeTemplate>
              <nz-select [(ngModel)]="domain" [ngModelOptions]="{standalone: true}">
                <nz-option nzLabel="https://submaster.com/" nzValue="https://submaster.com/"></nz-option>
              </nz-select>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *nzSpaceItem>
          <nz-form-label [nzSpan]="24" nzFor="username">{{ 'PAGE.INSTAGRAM USERNAME' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="24" class="mt-2">
            <input nz-input name="name" type="text" id="username" placeholder="my_instagram_username" formControlName="instagramLogin">
          </nz-form-control>
        </nz-form-item>
      </nz-space>
    </div>
    <div nz-col nzSpan="1" style="text-align:center; padding: 10px 0;">
      <nz-divider [nzOrientation]="'center'" [nzType]="'vertical'" style="height: 100%;"></nz-divider>
    </div>
    <div nz-col [nzSpan]="11" [nzXl]="8">
      <h1>{{ 'PAGE.METRICS' | translate }}</h1>
      <nz-space nzDirection="vertical" [nzSize]="'large'" class="mt-4" style="width:100%">
        <nz-form-item *nzSpaceItem>
          <nz-form-label [nzSpan]="24" nzFor="pixel">Facebook pixel</nz-form-label>
          <nz-form-control [nzSpan]="24" class="mt-2">
            <input nz-input name="pixel" type="text" id="pixel" formControlName="facebookPixelId">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *nzSpaceItem>
          <nz-form-label [nzSpan]="24" nzFor="token">Facebook Server Side token</nz-form-label>
          <nz-form-control [nzSpan]="24" class="mt-2">
            <input nz-input name="token" type="text" id="token" formControlName="facebookServerSideToken">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *nzSpaceItem>
          <nz-form-label [nzSpan]="24" nzFor="metrika">Yandex.Metrica</nz-form-label>
          <nz-form-control [nzSpan]="24" class="mt-2">
            <input nz-input name="metrika" type="text" id="metrika" formControlName="yandexMetrika">
          </nz-form-control>
        </nz-form-item>
      </nz-space>
    </div>
  </div>
</form>
