@import "variables";

.divider {
  width: auto;

  &-top {
    margin: 0 -24px 12px -24px;
  }
  &-bottom {
    margin: 12px -24px 0 -24px;
  }
}

.steps-action {
  box-shadow: inset 0px 1px 0px #F0F0F0;
  background: white;
  bottom: 0;
  position: fixed;
  padding: 24px;
  width: calc(100% - #{$side-nav-width});
  margin-left: -24px;
  z-index: 999;

  button {
    height: 40px;
  }
}
