<nz-divider class="divider-top"></nz-divider>
<nz-steps [nzCurrent]="current">
  <nz-step nzTitle="{{ 'PAGE.EDIT PAGE DETAILS' | translate }}"></nz-step>
  <nz-step nzTitle="{{ 'PAGE.EDIT WELCOME PAGE' | translate }}"></nz-step>
  <nz-step nzTitle="{{ 'PAGE.EDIT ADDITIONAL PAGES' | translate }}"></nz-step>
</nz-steps>
<nz-divider class="divider-bottom"></nz-divider>


<div class="steps-content mt-5">
  <div *ngIf="this.current == 0">
    <app-page-details [page]="page" (updatePageEmitter)="setPage($event)"></app-page-details>
  </div>
  <div *ngIf="this.current == 1">
    <app-welcome-page [page]="page" (updatePageEmitter)="setPage($event)"></app-welcome-page>
  </div>
  <div *ngIf="this.current == 2">
    <app-additional-pages [page]="page" (updatePageEmitter)="setPage($event)"></app-additional-pages>
  </div>
</div>
<div style="height: 112px"></div>
<div class="steps-action d-flex">
  <button nz-button nzType="default" (click)="cancel()" *ngIf="current == 0">
    <span>{{ 'ACTIONS.CANCEL' | translate }}</span>
  </button>
  <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
    <span>{{ 'ACTIONS.PREVIOUS' | translate }}</span>
  </button>
  <button nz-button nzType="primary" class="ml-4" (click)="next()" *ngIf="current < 2">
    <span>{{ 'ACTIONS.NEXT' | translate }}</span>
  </button>
  <button nz-button nzType="primary" class="ml-4" (click)="done()" *ngIf="current === 2">
    <span>{{ 'ACTIONS.FINISH' | translate }}</span>
  </button>
</div>
