.radio-devices {
  label {
    height: 32px;
    width: 32px;
    padding: unset;
    text-align: center;
    border-radius: 2px;
    border-left-width: 1px;

    &:before {
      content: none;
    }

    &:last-child {
      margin-left: 12px;
    }
  }
}

.switch-group {
  ::ng-deep {
    .ant-form-item-control-input {
      width: 100%;
    }

    .ant-form-item-control-input-content {
      display: flex;
      width: 100%;
      align-items: center;
    }

  }
}
.background-preview {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #eee;

  .link {
    width: 256px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.youtube-frame-container {
  margin: 24px 0 0;
}

@media only screen and (max-width: 669px) {

  .margin-section-container {
    margin-top: 24px;
  }

  .color-theme-container {
    margin-top: 24px;
  }
}
